@charset "UTF-8";

@font-face {
  font-family: "Bold";
  font-weight: swap;
  src: url("../fonts/HelveticaNeueCyr Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Light";
  font-weight: swap;
  src: url("../fonts/HelveticaNeueCyr Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Medium";
  font-weight: swap;
  src: url("../fonts/HelveticaNeueCyr Medium.woff") format("woff"), url("../fonts/HelveticaNeueCyr Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roman";
  font-weight: swap;
  src: url("../fonts/helveticaneuecyr-roman.woff") format("woff"), url("../fonts/helveticaneuecyr-roman.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.ttf?uc1zqc") format("truetype"), url("fonts/icons.woff?uc1zqc") format("woff"), url("fonts/icons.svg?uc1zqc#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-],
[class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-Linkedin:before {
  content: "\e900";
}

._icon-Group:before {
  content: "\e901";
}

._icon-insta:before {
  content: "\e902";
}

._icon-fb:before {
  content: "\e903";
}

/* Обнуление*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 24px;
  color: #fff;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Medium";
  color: #000;
  font-size: 14px;
  background: #E5E5E5;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  background: #F5F5F5;
}

.inner__container {
  max-width: 1036px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
}

.header__container .header__contact {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container .header__contact .header__contact--tel {
  font-size: 15px;
  line-height: 18px;
}

.header__container .header__contact .header__contact--btn {
  background: #FE7E11;
  border-radius: 10px;
  padding: 12px 16px;
  color: #FFFFFF;
}

.container {
  position: relative;
}

.container .images {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .images img {
  width: 270px;
  height: 345px;
}

.container .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: bottom;
      -ms-flex-pack: bottom;
          justify-content: bottom;
}

.container .items .chart {
  cursor: pointer;
  position: fixed;
  width: 455.56px;
  height: 82px;
  background: #FECE00;
  -webkit-box-shadow: 0px 10px 30px rgba(254, 206, 0, 0.3);
          box-shadow: 0px 10px 30px rgba(254, 206, 0, 0.3);
  border-radius: 15px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 34px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 33px;
}

.container .items .chart .korzinka {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .items .chart .korzinka img {
  margin-right: 23px;
}

.container .items .chart .korzinka p {
  font-family: "Light";
  font-size: 30px;
  line-height: 30px;
  color: #061737;
}

.container .items .chart__cost p {
  font-family: "Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #061737;
}

.container .category {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .category .box {
  cursor: pointer;
  padding: 22px 49px;
  background: #FFFFFF;
  border: 8px solid #4E4E4E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-family: "Medium";
  font-size: 36px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #4E4E4E;
}

.container .category .red {
  background: #FF0000;
  border-radius: 15px;
  border: none;
  font-weight: "Bold";
  font-size: 36px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.container .category .active {
  color: #4AA838;
  border: 8px solid #4AA838;
}

.container .cards__container {
  padding: 61px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .cards__container .card {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 366px;
  border-radius: 15px;
  margin-bottom: 61px;
}

.container .cards__container .card .first {
  height: 118px;
}

.container .cards__container .card .first img {
  position: absolute;
  top: 0;
  left: 30px;
}

.container .cards__container .card .second {
  width: 320px;
  height: 252px;
  background: #ebe9e9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 117px 16px 0 16px;
}

.container .cards__container .card .second h2 {
  font-family: "Medium";
  font-style: normal;
  font-weight: 550;
  font-size: 30px;
  color: #4E4E4E;
  margin-bottom: 10px;
}

.container .cards__container .card .second .panel {
  width: 285.71px;
  height: 36.19px;
  background: #C4C4C4;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7px;
}

.container .cards__container .card .second .panel .big {
  width: 50%;
  height: 100%;
  background: #FECE00;
  border: 1px solid #FECE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-family: "Bold";
  font-weight: 550;
  font-size: 22px;
  color: #000000;
}

.container .cards__container .card .second .panel .mini {
  height: 100%;
  width: 50%;
  background: #C4C4C4;
  border-radius: 15px;
  font-family: "Bold";
  font-weight: 550;
  font-size: 22px;
  color: #000000;
}

.container .cards__container .card .second .cost {
  width: 106.76px;
  height: 40px;
  background: #FECE00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-family: "Bold";
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}

.container .select {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 100%;
  z-index: 11;
}

.container .select__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 803px;
  padding: 85px 49px 31px 49px;
  background-color: #FFFFFF;
}

.container .select__card .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .select__card .add button {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000000;
  border: none;
  padding: 20px 40px;
  background: #FECE00;
  border: 1px solid #FECE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.container .select__card .add .close {
  background: none;
  border: none;
}

.container .select__card .add .close img {
  width: 40px;
}

.container .select__card .info {
  margin-top: 63px;
}

.container .select__card .info h1 {
  font-family: "Medium";
  font-weight: 550;
  font-size: 64px;
  color: #000000;
  margin-bottom: 20px;
}

.container .select__card .info__panel {
  width: 700.94px;
  height: 88.79px;
  background: #C4C4C4;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.container .select__card .info__panel .big {
  width: 50%;
  height: 100%;
  background: #FECE00;
  border: 1px solid #FECE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-family: "Bold";
  font-weight: 550;
  font-size: 48px;
  color: #000000;
}

.container .select__card .info__panel .mini {
  width: 50%;
  height: 100%;
  background: #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-family: "Bold";
  font-weight: 550;
  font-size: 48px;
  color: #000000;
}

.container .select__card .info__click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .select__card .info__click .cost {
  width: 224.3px;
  height: 98.13px;
  background: #FECE00;
  border: 1px solid #FECE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .select__card .info__click .cost p {
  font-family: "Medium";
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #000000;
}

.container .select__card .info__click .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 247.66px;
  height: 99px;
  background: #FECE00;
  border: 1px solid #FECE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.container .select__card .info__click .counter p {
  font-family: "Medium";
  font-weight: bold;
  font-size: 48px;
  text-align: center;
  color: #000000;
}

.container .select__card .info__click .counter .plus {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background: #FECE00;
  margin-left: 20px;
}

.container .select__card .info__click .counter .minus {
  margin-top: 5px;
  margin-right: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: none;
  background: #FECE00;
}

.container .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .cart {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 20;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .cart__container {
  background: #FFFFFF;
  width: 825px;
  margin: 0 auto;
  padding: 33px 35px 48px 40px;
}

.container .cart__container--img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .cart__container--img img {
  margin-bottom: 50px;
  width: 120px;
}

.container .cart__container--img h2 {
  font-family: "Medium";
  font-weight: 550;
  font-size: 36px;
  color: #4aa838;
}

.container .cart__container h1 {
  margin-bottom: 34px;
  font-family: "Bold";
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  padding-bottom: 34px;
  border-bottom: 1px solid #C4C4C4;
}

.container .cart__container--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.container .cart__container--info .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .cart__container--info .items img {
  width: 166.07px;
  height: 147.82px;
  margin-right: 25px;
}

.container .cart__container--info .items__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .cart__container--info .items__text h2 {
  font-family: "Medium";
  font-weight: 550;
  font-size: 36px;
  color: #000000;
}

.container .cart__container--info .items__text .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 159.82px;
  height: 69.92px;
  background: #FECE00;
  border: 1px solid #FECE00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.container .cart__container--info .items__text .card p {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #000000;
}

.container .cart__container--info .buttons__delete .del {
  background: none;
  background-color: none;
  border: none;
  cursor: pointer;
}

.container .cart__container .order__btn {
  cursor: pointer;
  width: 547.48px;
  background: #FECE00;
  -webkit-box-shadow: 0px 10px 30px rgba(254, 206, 0, 0.3);
          box-shadow: 0px 10px 30px rgba(254, 206, 0, 0.3);
  border-radius: 15px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.container .cart__container .order__btn p {
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.container .shows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  background: #FE7E11;
  border-radius: 10px;
  color: #FFFFFF;
}